@model IEnumerable<CarRental.Models.Concretes.Employees>

<p>
    @Html.ActionLink("Yeni Çalışan Ekle", "SaveEmployeeToCompany")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Encode("Çalışanın E-Maili")
        </th>
        <th>
            @Html.Encode("Çalışanın Telefon Numarası")
        </th>
        <th>
            @Html.Encode("Çalışanın Adresi")
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeesEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeesPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeesAddress)
            </td>
        </tr>
    }

</table>

